{% extends 'dashboard/members_layout.html' %}
{% block page_body %}
<section class="content-header">
   <h1>
   Comming soon
   </h1>
</section>
<section class="content">
   <div class="block-wrapper">
      <!--<div class="block-wrapper-left">-->
         <!--<div class="btn-group">-->
            <!--<button type="button" onclick="window.location='/members/index.php?event=sites&amp;action=add'"-->
               <!--class="btn btn-dark">Comming soon-->
            <!--</button>-->
         <!--</div>-->
      <!--</div>-->
   </div>
   <div class="table-wrapper table-saits">
      <div class="table-responsive">
         <table class="table table-striped">
            <!--<tbody>-->
               <!--<tr>-->
                  <!--<td>Site name</td>-->
                  <!--<td>Site URL</td>-->
                  <!--<td>Status</td>-->
                  <!--<td>Administration</td>-->
               <!--</tr>-->
               <!--<tr>-->
                  <!--<td><a href="/members/?event=codes&amp;site_id=348629&amp;action=view">http://moretvtime.com/</a>-->
                  <!--</td>-->
                  <!--<td><a href="http://moretvtime.com" target="_blank">moretvtime.com</a></td>-->
                  <!--<td>-->
                     <!--<span data-ot="Site will shortly be moderated by one of our system administrators, advertising widgets are not displayed"> Is being moderated</span>-->
                  <!--</td>-->
                  <!--<td>-->
                     <!--<button type="button" title="Edit site widgets"-->
                        <!--onclick="window.location='/members/?event=codes&amp;site_id=348629&amp;action=view'"-->
                        <!--class="btn btn-header btn-actions"><i class="fa fa-cog"></i></button>-->
                     <!--<button type="button" class="btn delete-btn btn-dark btn-actions"-->
                        <!--data-name="http://moretvtime.com/" data-site-id="348629" title="Remove the site"-->
                        <!--data-ot="Remove the site"><i class="fa fa-times-circle"></i></button>-->
                  <!--</td>-->
               <!--</tr>-->
            <!--</tbody>-->
         </table>
      </div>
   </div>
</section>
{% endblock %}