{% extends 'moretvtime/layout.html' %}
{% block page_body %}
<!-- this is the test page -->
<br/><br/><br/><br/>

<!-- Widget Code Start -->
<!-- Widget Code Start -->
<!-- Widget Code Start -->
 <div class="content-wrapper">
<section class="content">
    <div class="col-md-4"></div>
<div class="col-md-8">
      <div class="block-wrapper">
<!-- Widget Code Start -->
<div id="3649931f778646a492b98a77c09f5c10381e0ae86653bd12d6cdfe581c8c3d39">Loading...</div>
</div>
</div>
</section>
     </div>
<script type="text/javascript">
        window.provider="3649931f778646a492b98a77c09f5c10381e0ae86653bd12d6cdfe581c8c3d39"
</script>
<script type="text/javascript" src="http://127.0.0.1/static/members/js/widgetloads.js"></script>
<style id="3649931f778646a492b98a77c09f5c10381e0ae86653bd12d6cdfe581c8c3d39"></style>
<link rel="stylesheet" href="http://127.0.0.1/static/members/css/payclick.css">
<link rel="stylesheet" href="http://127.0.0.1/static/members/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="http://127.0.0.1/static/members/css/widget.css">
<!-- Widget Code End -->
<!-- Widget Code End -->
<!-- Widget Code End -->

<!-- Widget Code End -->
<!-- Widget Code End -->

<!--<iframe src="https://sharetv.com/shows" style="    width:100%;-->
<!--height: 901px;-->
<!--margin-top: 63px;">-->

<!--</iframe>-->
<!--<br/><br/><br/><br/>-->
<!--<video id="content_video" autoplay class="video-js vjs-default-skin"-->
<!--controls preload="auto" width="auto"-->
<!--height="360">-->
<!--<source src="/static/video/logo-content.mp4" type="video/mp4">-->
<!--</source>-->
<!--</video>-->

<!--<div id="banner-bottom-right-sticky">-->
<!--<a href="#" class="clkcount" target="_blank" id="addurl_tc"><img id="si-image_tc"/></a><span id="close-button_tc" onclick="document.getElementById('banner-top-center-sticky').style.display='none'" >X</span>-->
<!--</div>-->

<!--<div id="banner-top-bottom-sticky">-->
<!--<a href="#" class="clkcount" target="_blank" id="addurl_lt"><img id="si-image_lt"/></a><span id="close-button_lt" onclick="document.getElementById('banner-left-top-sticky').style.display='none'" >X</span>-->
<!--</div>-->

<!--<script>-->
<!--window.provider="fds";-->
<!--</script>-->

<!--<script src="/static/js/sticky.js"></script>-->


{% endblock %}