<div class="ad-homepage-right" style="margin-right: 20px">

    {# DFP 300x250 #}
        <script src='https://www.googletagservices.com/tag/js/gpt.js'>
            googletag.pubads().definePassback('/21771002246/desktop-300x250-a1', [300, 250]).display();
        </script>
    {# DFP 300x250 #}

    {# DFP 300x600 #}
        <script src='https://www.googletagservices.com/tag/js/gpt.js'>
            googletag.pubads().definePassback('/21771002246/desktop-homepage-300x600', [300, 600]).display();
        </script>
    {# DFP 300x600 #}

</div>

