<script async src="https://cdn.stat-rock.com/player.js"></script>
<script>(function(){
    document.write("<div id='Pd6cMZCuocOWLzM0hgllSpQ22sIhYcn4WyuiM3I9NPMCHXmcwdvY'></div>");
    AdPlayerPro('Pd6cMZCuocOWLzM0hgllSpQ22sIhYcn4WyuiM3I9NPMCHXmcwdvY').setup({
        "autoStart": true,
        "width": "640",
        "height": "360",
        "type": "inPage",
        "advertising": {
            "tag": [
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://a.vertamedia.com/?content_page_url=$$REFERER$$&width=$$WIDTH$$&height=$$HEIGHT$$&cb=1540667035000&vpaid_type=3&video_duration=300&aid=368590",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "j87Y-2CLoWKaxsuRwJ0Md6BfTXAxIwBu6okKlU58Ebs6mGSAgDWk"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://go.aniview.com/api/adserver61/vast/?AV_PUBLISHERID=5b226afc073ef42b724a373d&AV_CHANNELID=5b69e14d28a061235c655412&AV_URL=$$REFERER$$&cb=1540667035000&AV_WIDTH=$$WIDTH$$&AV_HEIGHT=$$HEIGHT$$",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "exKUCrDS26YmkmVwv9feyE70YnsSkO0cuyxCl1WXTpJoZ-5GKWe-"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://ssp.streamrail.net/ssp/vpaid/5acc61387137e80002000001/5b69e0e344c68300010e31bb?cb=1540667035000&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&sub_id=&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&user_lat=&user_lon=&user_consent=&gdpr=&page_url=$$REFERER$$",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "0NoSzdrELk_yokgID9Irf58CDy8l6ci8r5ff8pXEjs9toaz8fRwg"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://go.aniview.com/api/adserver61/vast/?AV_PUBLISHERID=5b226afc073ef42b724a373d&AV_CHANNELID=5b69e1b5073ef4389932b6bc&AV_URL=$$REFERER$$&cb=1540667035000&AV_WIDTH=$$WIDTH$$&AV_HEIGHT=$$HEIGHT$$",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "0PpQvaHaE5Ap9YTCm0Co0eE2TtD6VLXAWWPRyuHfEwPIwicbHMuT"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://ssp.streamrail.net/ssp/vpaid/5acc61387137e80002000001/5b69e11844c68300010e31bf?cb=1540667035000&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&sub_id=&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&user_consent=&gdpr=&page_url=$$REFERER$$",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "ht3iYVl9hSwtkyl7VJgBMWXUWYbd5krujqK3ULBs_jdIRp9TB9id"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://vid.springserve.com/vast/269887?w=$$WIDTH$$&h=$$HEIGHT$$&url=$$REFERER$$&cb=1540667035000&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&lat=&lon=&dnt=",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "p4UvQwgCPf4WR8_KAeASemBcN1h61BCAwt_pZmM7L412GgnqG9_g"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://vid.springserve.com/vast/269886?w=$$WIDTH$$&h=$$HEIGHT$$&url=$$REFERER$$&cb=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "wd4TPoFF7Yfkz8hJm19MFNsNFMHeF6kwbvFi3iytsbM_wy8G2eFC"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://publisher-r.phunware.com/?c=v&m=v&placementId=228654",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "Lrvk33WJlnnl791VNVYzADTCry674DqhHegmsNOeul3RLIcyXPcC"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://publisher-r.phunware.com/?c=v&m=vastTag&placementId=228654&cachebuster=1540667035000&bidfloor=&dnt=&domain=$$REFERER$$&h=$$HEIGHT$$&w=$$WIDTH$$&ip=77.138.226.131&lat=&lon=&os=&osv=&page=$$REFERER$$&ua=$$CLIENT_USER_AGENT$$",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "DLk4fIRIIDRrXeqdX0pV24_wkwy5PKZFuFmdR_48We3krI5ghnWf"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://publisher-r.phunware.com/?c=v&m=v&placementId=228754",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "-clyuJGMEkbX8mwHxqjdi9z-FQY2iT5vF9GJfpT24lMLDYKsxfwX"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://publisher-r.phunware.com/?c=v&m=vastTag&placementId=228754&cachebuster=1540667035000&bidfloor=&dnt=&domain=$$REFERER$$&h=$$HEIGHT$$&w=$$WIDTH$$&ip=77.138.226.131&lat=&lon=&os=&osv=&page=$$REFERER$$&ua=$$CLIENT_USER_AGENT$$",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "mlRDi4eFoL_Y2mQ72jWr-Z8rf2WruExibSSUA7iw0ddH8OaHbf4F"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://ssp.lkqd.net/ad?pid=57&sid=833139&output=vast&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&pageurl=$$REFERER$$&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "uAtNMgWOTxI7cOPi0L11AS0Vskf0tpSnFxkBu_cJ810WZ1CFLdBP"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://ssp.lkqd.net/ad?pid=57&sid=833139&output=vast&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "9Ln-nnck5mfDxVVJj3mDyFJWjgtGBWXqx6PwTZUr0eKRkdiHsRe9"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://ssp.lkqd.net/ad?pid=57&sid=833138&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "m9yU6-DA6cx4b6FOfX7mfaH7C5vckM8oCSlPap7qnI_Zlq8rXbpx"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://v.lkqd.net/ad?pid=57&sid=833138&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "0HaWmWamJ7rZNPbfgEtvGIdQCdB2kg_hlFZzSRvRKuxeZvYcqDQ9"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://v.lkqd.net/ad?pid=346&sid=835866&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "jY4I4KRzr2xU8v32tFmvYQ8RW42ODPSOW8oD4r_t8gBb4a0hnDgO"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://ssp.lkqd.net/ad?pid=252&sid=835049&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "QkwbvIBk-uzIapl3oXg7PmfDLkJMH27npuF1pYb-Xkqvq7pARH7t"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://ssp.lkqd.net/ad?pid=252&sid=835045&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "WllQFtlsWAIVb-qnX9mqZPZVUVpZVHLU7n6ZwyNtghLjOLRxNg7t"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://s.vertamedia.com/?site_url=$$REFERER$$&width=$$WIDTH$$&height=$$HEIGHT$$&cb=1540667035000&ua=$$CLIENT_USER_AGENT$$&uip=77.138.226.131&geo_lat=&geo_lon=&aid=368928",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "9PJ7hs1eIi4fjgj60X6F2hub0PTyf9Cd40VlrMV4QbIEF8lEu6Mj"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://s.vertamedia.com/?content_page_url=$$REFERER$$&width=$$WIDTH$$&height=$$HEIGHT$$&cb=1540667035000&vpaid_type=3&video_duration=&aid=368923",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "opSal_iSKwuT-47ro-cD0db7i6KUnsmWyZwQtYyu2fJFAhZBEm04"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://s.vertamedia.com/?content_page_url=$$REFERER$$&width=$$WIDTH$$&height=$$HEIGHT$$&cb=1540667035000&vpaid_type=3&video_duration=&aid=368607",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "s0T7DEb8HNPjVJdK4ksULEWlarNE_zIA7DtudK1PSBmm8-gJFHuI"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://s.vertamedia.com/?content_page_url=$$REFERER$$&width=$$WIDTH$$&height=$$HEIGHT$$&cb=1540667035000&vpaid_type=3&video_duration=&aid=368606",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "JFuj7b25SRgNVcJwWb8MmhltqdukWHNXzNj_EVNr4b0UOnzgoXzA"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://v.lkqd.net/ad?pid=306&sid=834222&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "pMyr2NIKpD1v9gUsw-9vuKPk_VszUHKSD-tFeRHPTqXMEOGSJW5l"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://ioms.bfmio.com/getBFMT?aid=87a17444-7ec4-47a3-f10b-02b591518c80&i_type=pre&mf=j&page_url=$$REFERER$$&cb=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "21dkKW4arhCHaoxisxOL82CNIiSonzqISdMtjoDkhZTn5bXVpHNa"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://v.lkqd.net/ad?pid=306&sid=834219&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "9Da3mXnoHUN2wUoH1MF5WesT1gvJTNtChrYmuhOK4Y2d0IH8JTOx"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://ioms.bfmio.com/getBFMT?aid=81d54b1f-6752-4041-ce12-106a4fcc6c28&i_type=pre&page_url=$$REFERER$$&cb=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "ofCrHoS1ECBwmQKmrtWp6DJQ5qHwr6XeaoqyHZJ2NwVCy_tmfAR_"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://ssp.lkqd.net/ad?pid=379&sid=834266&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "yHhbkfoOMGRrlmSSMDdZyzQHe8h4XwQXvTTZB7PWlWJfkz5uUsgU"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://ssp.lkqd.net/ad?pid=379&sid=834268&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "QvlnqlnuvZXWSfKPDKn890Ia3kL5YxL9YNglN6OAYNiUUQ8Lp_mf"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://v.lkqd.net/ad?pid=339&sid=837655&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "927EXsRKHUCxSRoyjvPbNcbzsAiRPzBeYm1Ho-qOXT13uI_-VfYP"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://v.algovid.com/vpvast?p=186458693&d=$$REFERER$$&cb=1540667035000&width=$$WIDTH$$&height=$$HEIGHT$$",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "gUgTwK5c4Ni6J7dVc0OoTYvtIn636AtvaodQYW1lDT4xyLLfEML7"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://ads.adaptv.advertising.com/a/h/WfpbuVMONoVO5UWqJbPmclAk1dgyJh8id3kgKf3r0sEWwuwEqR20Qa+xIdtipgDu?cb=1540667035000&gdpr=&gdpr_consent=&isOathFirstParty=&pageUrl=http%3A%2F%2Fmoretvtime.com&a.ip=77.138.226.131&a.ua=$$CLIENT_USER_AGENT$$&lat=&lon=&pi.width=$$WIDTH$$&pi.height=$$HEIGHT$$&pi.viewable=VIEWABILITY&eov=eov",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "rsKh1GuNIJMR33MBkPqGJMzaZa7CpZ6uiWbNSzzGx3jdBz9pOAcC"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://v.lkqd.net/ad?pid=339&sid=837690&output=vastvpaid&support=html5&execution=any&placement=&playinit=auto&volume=100&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&gdpr=&gdprcs=&pageurl=$$REFERER$$&contentid=&contenttitle=&contentlength=&contenturl=$$REFERER$$&rnd=1540667035000",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "W5CC6oA91rYyky9lioCq2zjwpVuQhtEwiheLXgEypnoKYaE7Bc2c"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://v.algovid.com/vpvast?p=68519762&d=$$REFERER$$&cb=1540667035000&width=$$WIDTH$$&height=$$HEIGHT$$",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "p5ObkF7nXHmkaFewaA5_aMod-KeTn1AIglTpcEcGEZVud4J5bWZt"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://ads.adaptv.advertising.com/a/h/WfpbuVMONoUIXKh2dbpW_Q_7BcrgHCJkNge+7zTDxgCHoO8yL01q5dBXRwv27V7O?cb=1540667035000&gdpr=&gdpr_consent=&isOathFirstParty=&pageUrl=http%3A%2F%2Fmoretvtime.com&description=VIDEO_DESCRIPTION&duration=VIDEO_DURATION&id=VIDEO_ID&keywords=VIDEO_KEYWORDS&title=VIDEO_TITLE&url=$$REFERER$$&pi.width=$$WIDTH$$&pi.height=$$HEIGHT$$&pi.viewable=VIEWABILITY&eov=eov",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "C5a3SPQ2DSUnwOH6LfxidpCWA_RpTMtjTbNAhgTMU7K3VM2-S4-h"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "http://s.vertamedia.com?site_url=$$REFERER$$&width=$$WIDTH$$&height=$$HEIGHT$$&cb=1540667035000&ua=$$CLIENT_USER_AGENT$$&uip=77.138.226.131&geo_lat=&geo_lon=&aid=368591",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "t1X-WTjPJWeYYbcb-kQuE6q_qEiqBcKRSvb4f9YTBdMy3C6F0vhf"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://ssp.streamrail.net/ssp/vpaid/5898753b48d9fd0002000002/5bbe5b4230b5cb0001c3c156?cb=1540667035000&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&sub_id=&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&user_consent=&gdpr=&page_url=$$REFERER$$",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "Ibc5ijxO1gMxlkDzebeBpfVGOSG3Paof6val0xLkx0rE0j9I92ZJ"
                },
                {
                    "id": "HhjE9fCaxQPBhyYcFePbtwTmOuHnOCNAGE_DNU6LIWzFaJvr6nAb",
                    "url": "https://ssp.streamrail.net/ssp/vpaid/5898753b48d9fd0002000002/5bbe5c08002de60001666e55?cb=1540667035000&width=$$WIDTH$$&height=$$HEIGHT$$&dnt=&sub_id=&ip=77.138.226.131&ua=$$CLIENT_USER_AGENT$$&user_lat=&user_lon=&user_consent=&gdpr=&page_url=$$REFERER$$",
                    "client": "vast",
                    "type": "url",
                    "rotation": true,
                    "replay": true,
                    "vtId": "tCO952IMMEBQclUnQL5xFh_yt7QjufwIUAOZPHYu4pRPgqpczKBb"
                }
            ],
            "requestTimeout": 10000,
            "barColor": "#2e95ff",
            "skipOffset": 30,
            "defaultTag": "\x3ciframe src=\"https://player.vimeo.com/video/75336954\" width=\"640\" height=\"360\" frameborder=\"0\" webkitallowfullscreen mozallowfullscreen allowfullscreen\x3e\x3c/iframe\x3e\n\x3cp\x3e\x3ca href=\"https://vimeo.com/75336954\"\x3eWander The Map - How We Travel\x3c/a\x3e from \x3ca href=\"https://vimeo.com/wanderthemap\"\x3eWander The Map\x3c/a\x3e on \x3ca href=\"https://vimeo.com\"\x3eVimeo\x3c/a\x3e.\x3c/p\x3e"
        }
    })
})();</script>