{% extends 'dashboard/layout.html' %}
{% block page_body %}

<div class="content mobile-web">
    <div class="content-header">
        <h1 class="title">Native Monetization For Publishers</h1>
        <br class="blurb">
            Generate revenue with non-disruptive branded content geared specifically</br>
            for your audience that does not alienate viewers with unwanted disruptive ads.

        </p>
    </div>

    <div class="promo">
        <div class="cover-wrapper">
            <img class="cover" src="/static/images/dashboard//apps.png" alt="Apps">
        </div>

        <ul class="options">
            <li class="item performing">
                <strong>Huge variety
</strong> of high performing advertising formats
            </li>
            <li class="item ecpm">
                <strong>100% fill
</strong> rate worldwide with high  <strong>eCPM rates</strong>
            </li>
            <li class="item compaigns">
                <strong>Full control
</strong> over monetization and statistics via
 <br>
                Dashboard
            </li>
            <li class="item control">
                <strong>Stable payments
</strong> on monthly or weekly basis
            </li>
            <li class="item payments">
                <strong>Reliable
</strong>support team 24/7
            </li>

        </ul>
    </div>

    <div class="features-banner large">
        <div class="inner">
            <h2 class="title">How to Start</h2>
            <ul class="list">
                <li class="item integration">
                    <div class="item-inner">
                        <div class="cover-wrapper">
                            <img class="cover integration"
                                 src="/static/images/dashboard/icon_integration.png"
                                 alt="Icon integration">
                            <span class="num">1</span>
                        </div>
                        <h3 class="title">Integration</h3>
                        <p class="blurb">
                            Integrate our SDK<br>
                            to your mobile app or use our<br>
                            Native ads API
                        </p>
                    </div>
                </li>
                <li class="item placement">
                    <div class="item-inner">
                        <div class="cover-wrapper">
                            <img class="cover placement"
                                 src="/static/images/dashboard/icon_placement.png"
                                 alt="Icon placement">
                            <span class="num">2</span>
                        </div>
                        <h3 class="title">Create a Placement</h3>
                        <p class="blurb">
                            Create a placement and<br>
                            choose the right ad unit for<br>
                            monetization
                        </p>
                    </div>
                </li>
                <li class="item paid">
                    <div class="item-inner">
                        <div class="cover-wrapper">
                            <img class="cover paid" src="/static/images/dashboard/icon_paid.png"
                                 alt="Icon paid">
                            <span class="num">3</span>
                        </div>
                        <h3 class="title">Get Paid</h3>
                        <p class="blurb">
                            Get stable payments<br>
                            every month either faster, via<br>
                            PayPal or by a Wire transfer
                        </p>
                    </div>
                </li>
            </ul>

            <a class="button blue" href="#">Get started</a>

            <div>
                <a href="#" class="more">Learn more</a>
            </div>
        </div>
    </div>


    <div class="app-slider">
        <h1 class="title">How Viral Lift is Different
</h1>

        <div class="description">
            <!--<h2>Native Ads Feed</h2>-->
            <p>
                All ads that appear on publishers websites are created and owned by Viral Lift. Our content is viral slideshare articles that has a higher than average engagement.
Our ads are rated PG.

            </p>
             <p>Not only with our publishers receive compensation for the first

                 click, but they will also receive compensation for every impression thereafter for
                 the lifetime of that users cookie session. Read the FAQ for more details.</p>
<p>Publishers can be paid via Paypal or Bitcoin. If neither of these work for you,
            contact us and we’ll work something out for you.</p>

            <!--<h3>Statistics</h3>-->
            <!--<ul>-->
                <!--<li>-->
                    <!--<strong>70% of individuals</strong> want to learn about products through content<br>-->
                    <!--rather than through traditional advertising.-->
                <!--</li>-->
                <!--<li>-->
                    <!--People view native <strong>ads 53%</strong> more than banner ads.-->
                <!--</li>-->
                <!--<li>-->
                    <!--An astronomical <strong>&gt;8% CTR</strong>.-->
                <!--</li>-->
                <!--<li>-->
                    <!--Native ads that include rich media boost conversation rates<br>-->
                    <!--by up to <strong>60%</strong>.-->
                <!--</li>-->
                <!--<li>-->
                    <!--Purchase intent is 58% higher with native ads.-->
                <!--</li>-->
            <!--</ul>-->
            <!--<p>-->
                <!--<strong>Bonus: 71% publishers received</strong> no major complaints from readers<br>-->
                <!--for featuring native ads while <strong>29% received minor</strong> backlash.-->
            <!--</p>-->
        </div>

        <!--<div class="phone">-->
            <!--<div class="apps swiper-container swiper-container-horizontal">-->
                <!--<div class="swiper-wrapper" style="transform: translate3d(-622px, 0px, 0px); transition-duration: 0ms;">-->
                    <!--<div class="item swiper-slide" style="width: 311px;">-->
                        <!--<img src="/static/images/dashboard/app_1.png" alt="App 1">-->
                    <!--</div>-->
                    <!--<div class="item swiper-slide swiper-slide-prev" style="width: 311px;">-->
                        <!--<img src="/static/images/dashboard/app_2.png" alt="App 2">-->
                    <!--</div>-->
                    <!--<div class="item swiper-slide swiper-slide-active" style="width: 311px;">-->
                        <!--<img src="/static/images/dashboard/app_3.png" alt="App 3">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>

    <div class="extra-banner">
        <h2 class="title">Examples of Viral Lift Ad Units
</h2>

        <!--<p class="blurb">Find out how Hyper can fuel your mobile business growh</p>-->

        <!--<ul class="list">-->
            <!--<li class="item">-->
                <!--<div class="cover phone"></div>-->
                <!--<div class="title">Mobile SSP</div>-->
                <!--<a href="#" class="button small gray">Learn more</a>-->
            <!--</li>-->

            <!--<li class="item">-->
                <!--<div class="cover exchange"></div>-->
                <!--<div class="title">AD Exchange</div>-->
                <!--<a href="#" class="button small gray">Learn more</a>-->
            <!--</li>-->

            <!--<li class="item">-->
                <!--<div class="cover server"></div>-->
                <!--<div class="title">AD Server</div>-->
                <!--<a href="#" class="button small gray">Learn more</a>-->
            <!--</li>-->
        <!--</ul>-->
    </div>



<div class="features-banner native">
  <div class="inner">
    <h2 class="title">Why Native Ads?</h2>
    <ul class="list">
      <li class="item">
        <div class="item-inner">
          <div class="cover-wrapper">
            <img class="cover" src="https://d2n7xvwjxl8766.cloudfront.net/assets/site/53p-712bd85dd8d2785156b8e44b2d919c24.png" alt="53p">
          </div>
          <p class="blurb">
            People view Native<br>
            ads <strong>53%</strong> higher then<br>
            banner ads
          </p>
        </div>
      </li>
      <li class="item">
        <div class="item-inner">
          <div class="cover-wrapper">
            <img class="cover" src="https://d2n7xvwjxl8766.cloudfront.net/assets/site/8p-d66161879ea8d463b470dc3b434b4ace.png" alt="8p">
          </div>
          <p class="blurb">
            An astronomical<br>
            <strong>&gt;8% CTR</strong>
          </p>
        </div>
      </li>
      <li class="item">
        <div class="item-inner">
          <div class="cover-wrapper">
            <img class="cover" src="https://d2n7xvwjxl8766.cloudfront.net/assets/site/58p-7bdaed5016f4d1d85f2f9e2b5a9f14a5.png" alt="58p">
          </div>
          <p class="blurb">
            Purchase intent<br>
            is <strong>58% higher</strong> with<br>
            native ads
          </p>
        </div>
      </li>
      <li class="item">
        <div class="item-inner">
          <div class="cover-wrapper">
            <img class="cover" src="https://d2n7xvwjxl8766.cloudfront.net/assets/site/71p-4aa9e4f03a7393c8b47a0b47e14c0079.png" alt="71p">
          </div>
          <p class="blurb">
            <strong>71%</strong> Publishers<br>
            received no complains<br>
            from users for featuring<br>
            native ads
          </p>
        </div>
      </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
