<script>
    window.addEventListener("load", function () {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#aa0000",
                    "text": "#ffdddd"
                },
                "button": {
                    "background": "#ff0000"
                }
            },
            "position": "bottom-left",
            "content": {
                "href": "https://moretvtime.com/privacy/"
            }
        })
    });
</script>